<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../static/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
<div class="header_main">
		<div class="container">
			<div class="logo"><a href="/"><img src="../static/images/logo.png"></a></div>
		</div>
	</div>
	</div>
	<div class="header">
		<div class="container">
        <!--  header inner -->
            <div class="col-sm-12">

                 <div class="menu-area">
                    <nav class="navbar navbar-expand-lg ">
                        <!-- <a class="navbar-brand" href="#">Menu</a> -->
                       <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                <a class="nav-link" href="/index">HOME<span class="sr-only">(current)</span></a> </li>
                               <li class="nav-item">
                                <a class="nav-link" href="/about">ABOUT</a></li>
                               <li class="nav-item">
                                <a class="nav-link" href="/services">SERVICES</a></li>
                                <li class="nav-item" href="#">
      	                        <a class="nav-link" href="/contact">ANONYMOUS MESSAGE</a></li>
                                <li class="nav-item">
                                <a class="nav-link" href="/users">USERS</a></li>
                                <li class="nav-item">
                                <a class="nav-link" href="/messages">MESSAGES</a></li>



                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end header end -->
    <div class="contact_main">
    <!--touch_section start -->

    <div class="touch_section">
        <div class="container">
            <h1 class="touch_text">Leave an anonymous message!</h1>
        </div>
    </div>

    <div class="lets_touch_main">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input_main">
                       <div class="container">
                          <form method="post" action="">
                                <div class="form-group">
                                    <input name="u_organization" type="text" class="email-bt" placeholder="Name of organization" >
                                </div>
                                <div class="form-group">
                                    <input name="u_department" type="text" class="email-bt" placeholder="Department" >
                                </div>
                                <div class="form-group">
                                    <input name="u_anonymous" class="massage-bt" placeholder=" Anonymous Message"  id="comment" ></input>
                                </div>
                                <div class="send_btn">
                                    <input  type="submit" class="btn btn-primary" value="SEND">
                                </div>

                          </form>
                       </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--touch_section end -->
    <!--Contact_section start -->
    <div class="contact_main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="touch_text">Contact Us</h1>
                </div>
            </div>
        </div>
        <div class="contact_section_2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="../static/images/map-icon.png" style="max-width: 100%;padding-left: 30px; ">
                            <p class="email-text"><a href="#">Gb road 123 londo<br>Uk</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="../static/images/call-icon.png" style="max-width: 100%;padding-left: 30px;">
                            <p class="email-text"><a href="#">+7123654897</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="../static/images/email-icon.png" style="max-width: 100%; padding-left: 30px;">
                            <p class="email-text"><a href="#">demo@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Contact_section end -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                   <p class="copyright_text">© 2022 All Rights Reserved. </p>
                </div>
            </div>
        </div>
    </div>

      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/popper.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>


</body>
</html>